<div class="banner banner1" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Number Guess Game!</h1>
    <div>
        <span>Hello <span sec:authentication="name"/>
        <a class="logout" sec:authorize-expr="isAuthenticated()" th:href="@{/logout}">Logout</a>
        </span>
    </div>
</div>
