<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org" xml:sec="http://www.thymeleaf.org/thymeleaf-extras-spring4"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Number Guess Game</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div th:include="banner">...</div>

<section class="color-7">

    <h1>Something went wrong!</h1>

    <span class="error" th:errors="*{message}"></span>

    <nav class="cl-effect-4">
        <a sec:authorize-expr="isAuthenticated()" th:href="@{/}">Play another game!</a>
    </nav>
</section>

</body>
</html>