<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org" xml:sec="http://www.thymeleaf.org/thymeleaf-extras-spring4"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Number Guess Game</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

<div th:include="banner">...</div>

<div id="container" sec:authorize-expr="isAuthenticated()">
    <div id="left" class="form-style-10">
        <form sec:authorize-expr="isFullyAuthenticated()" th:object="${guess}" method="post" th:action="@{/guess}">
            <div class="section">Game #<span th:text="${game.id}"></span> is on!</div>
            <div class="inner-wrap">
                <label>Your Guess: </label><input type="text" th:field="*{number}" value=""/>
                <span class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Guess Error</span>
                <input type="hidden" name="gameId" th:value="${game.id}"/>
            </div>
            <div class="button-section">
                <input type="submit" name="Submit"/>
            </div>
        </form>

    </div>
    <div id="right" class="form-style-10">
        <table>
            <thead>
            <tr>
                <th colspan="2">Participants</th>
            </tr>
            <tr>
                <th scope="col">Player</th>
                <th scope="col">Points</th>
            </tr>
            </thead>
            <tr th:each="player: ${players}">
                <td th:text="${player.username}"/>
                <td th:text="${player.points}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>