<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org" xml:sec="http://www.thymeleaf.org/thymeleaf-extras-spring4"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Number Guess Game</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

<div class="form-style-10">
    <h1>Login Now!<span>You need to login to play the game!</span></h1>
    <form sec:authorize-expr="!isFullyAuthenticated()" th:object="${loginDetails}" method="post" th:action="@{/login}">
        <div class="inner-wrap">
            <label>Your Name: <input type="text" th:field="*{username}" value=""/></label>
            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
            <label>Password: <input type="password" th:field="*{password}" value=""/></label>
            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
        </div>
        <div class="button-section">
            <input type="submit" name="Login"/>
            <a th:href="@{/registration}" class="registration">Click here to Register!</a>
        </div>
    </form>
</div>

</body>
</html>